/* Color palette: palette from mountain pic */

/* 
B0BFD2
0E1218
181F2A
665938
EDE8E1 */

/* The gray color in professional pic: 2F2B2C */

/* -------------Creating variables-------------------- */

:root {
  --lightgray: #b0bfd2;
  --black: #0e1218;
  --darkgray: #181f2a;
  --brown: #665938;
  --verylightbrown: #ede8e1;
}

/* ----------------General styles---------------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: var(--verylightbrown);
}

/* --------------------Nav Bar ------------------------------------ */

nav {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: right;
  background-color: var(--darkgray);
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: var(--verylightbrown);
}

nav a:hover {
  color: var(--brown);
}

/* --------------------Header----------------------------- */

.header {
  position: relative;
  text-align: center;
}

#header-background {
  opacity: 0.2;
  width: 100%;
  height: auto;
}

.header-txt {
  position: absolute;
  top: 45%;
  left: 55%;
  color: var(--black);
  font-size: 60px;
}

/* -------------------------About me ------------------------------- */

.about {
  background-color: var(--verylightbrown);
  text-align: center;
}

#professional-pic {
  max-width: 20%;
  height: auto;
  border-radius: 50%;
}

/* ------------------------Projects-------------------------------------- */

.Projects {
  background-color: var(--lightgray);
  display: flex;
  padding: 50px;
  height: auto;
}

.project-h1 {
  background-color: var(--lightgray);
  display: flex;
  justify-content: center;
}

.project-item {
  display: flexbox;
  border: 1px solid black;
}
