* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: right;
  background-color: gray;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

#header-background {
  opacity: 0.2;
}

.about {
  background-color: lightgray;
  text-align: center;
}

#professional-pic {
  max-width: 40%;
  height: auto;
  border-radius: 50%;
}

.Projects {
  background-color: lightskyblue;
  display: grid;
}

.project-item {
  display: flexbox;
}
